<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='nav'>
    <ul class='lists'>
      <li>
        <%= link_to image_tag("logo-color.png", class:"logo-icon"), "/" %>
      </li>
      <li>
        <%= link_to 'カテゴリー', "#", class: "category-list" %>
      </li>
      <li>
        <form class="search-form" action="#">
          <input class='input-box' placeholder='キーワードから探す'>
          <button class="search-button">
            <%= image_tag "search.png", class:"search-icon" %>
          </button>
        </form>
      </li>
        
      <% if user_signed_in? %>
        <li>
          <%= link_to image_tag(current_user.image, class: "user-icon", id: "user-icon"), "#" %>
        </li>
        <li>
        <li>
          <span class="material-icons" id="open">expand_more</span>
        </li>
        <% else %>
          <li>
            <%= link_to 'ログイン', new_user_session_path, class: "login" %>
          </li>
          <li>
            <%= link_to '新規登録', new_user_registration_path, class: "sign-up" %>
          </li>
        <% end %>
    </ul>
  </div>
</header>

  <div class="overlay">
    <span class="material-icons" id="close">close</span>
    <nav>
      <ul>
        <li>
          <%= link_to 'プロフィール設定', "#", class: "logout" %>  
        </li>
        <li>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %> 
        </li>
      </ul>
    </nav>
  </div>


